/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/06/2019, 02:08:25 PM
    Author     : Oscar Molina, Luis Carlos Moreno
*/
.formulario input{
    padding: 3px 10px;
    border: PowderBlue 5px solid;
    border-radius: 20px;
}
footer{

    background-color: white;
}

